.homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.inputWrapper {
    display: flex;
    gap: 10px;
    flex: 0;
    margin: 10px;
}

.inputWrapper > div {
    width: 200px;
}

.chartWrapper {
    flex: 1;
    overflow: hidden;
    padding: 8px;
}
